.table-params-action-button {
    -fx-border-width: 0px;
    -fx-border-style: none;
    -fx-font-weight: bold;
}

.tree-cell:selected {
    -fx-background-color: whitesmoke;
}

.tree-cell-drop-hint-up {
    -fx-border-color: #eea82f;
    -fx-border-width: 2 0 0 0; // top, right, bottom, and left border
}

.tree-cell-drop-hint-in {
    -fx-background-color: whitesmoke;
}

.tree-cell-drop-hint-down {
    -fx-border-color: #eea82f;
    -fx-border-width: 0 0 2 0; // top, right, bottom, and left border
}

.httpio-bread-crum-bar__node:selected {
    -fx-border-color: red;
}

.httpio-bread-crum-bar__node:active {
    -fx-border-color: red;
}

.httpio-bread-crum-bar__node:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}