.table-params-action-button {
    -fx-border-width: 0px;
    -fx-border-style: none;
    -fx-font-weight: bold;
}

.tree-cell:filled {
    -fx-border-color: silver;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-style: dotted;
}

.tree-cell:selected {
    -fx-background-color: whitesmoke;
}
